python-frontmatter==1.1.0
PyYAML==6.0.1
terminal_app @ git+https://github.com/antonio-projects-studio/terminal_app.git
markdown_reader @ git+https://github.com/antonio-projects-studio/markdown_reader.git